<a href="https://colab.research.google.com/github/Sunny-Pao/python/blob/master/Copy%E6%94%BF%E5%BA%9C%E9%9B%BB%E5%AD%90%E6%8E%A1%E8%B3%BC%E7%B6%B2_%E6%8A%93%E5%8F%96%E6%A8%99%E6%A1%88%E8%B3%87%E6%96%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 政府電子採購網

## 相關連結

* [政府採購網標案全文檢索網址](http://web.pcc.gov.tw/prkms/prms-searchBulletionClient.do?root=tps)
* [基金類別績效（ 晨星 ）](https://www.sitca.org.tw/ROC/Industry/IN2421.aspx)
* [基金績效評比（ 晨星 ）](https://www.sitca.org.tw/ROC/Industry/IN2422.aspx)
* [https://github.com/dong945/Python-Crawler](https://github.com/dong945/Python-Crawler)

---

In [0]:
import pandas as pd

## 讀取檢索結果

In [0]:
FundCategoryUrl = 'https://www.sitca.org.tw/ROC/Industry/IN2421.aspx'

In [0]:
dfs = pd.read_html(FundCategoryUrl, encoding='utf8', skiprows=2)

In [0]:
len(dfs)

4

In [0]:
dfs[0]

                                                    0   ...            11
0    基金類別名稱報酬率(原幣別)年化標準差三年(原幣)Sharpe三年(原幣)  一個月三個月六...  ...           NaN
1                                               基金類別名稱  ...  Sharpe三年(原幣)
2                                               基金類別名稱  ...  Sharpe三年(原幣)
3                                                大中華股票  ...          0.62
4                                           亞太區不包括日本股票  ...          0.47
..                                                 ...  ...           ...
173                                        太平洋區不包括日本股票  ...           0.4
174                        ※報酬率以基金原始計價幣別計算一年以上期間為累積報酬率  ...           NaN
175                                                NaN  ...           NaN
176  ©2014晨星有限公司。版權所有。晨星提供的資料：（1）為晨星及（或）其內容供應商的獨有資產...  ...           NaN
177  .TBWL{width: 150px;} .TBWM{width: 60px;} .TBWS...  ...           NaN

[178 rows x 12 columns]

In [0]:
dfs[4].head()

In [0]:
df = dfs[4]

In [0]:
df.info()

In [0]:
df.columns = ['基金類別名稱','1個月','3個月','6個月','1年','2年','3年','5年','今年以來','十年','年化標準差(三年)','Sharpe(三年)']

In [0]:
df.head()

---

## 讀取同一類別基金績效

In [0]:
FundUrl = 'https://www.sitca.org.tw/ROC/Industry/IN2422.aspx?txtYEAR=2019&txtMONTH=09&txtGROUPID=EUCA000500'

In [0]:
dfs = pd.read_html(FundUrl, encoding='utf8',skiprows=2)

In [0]:
len(dfs)

In [0]:
dfs[6].head()

In [0]:
# 刪掉最左邊的 checkbox 那一欄
df = dfs[6].drop(0, axis=1)

In [0]:
df.head()

In [0]:
df.info()

In [0]:
df.columns = ['基金名稱','基金英文名稱','1個月','3個月','6個月','1年','2年','3年','5年','今年以來','十年','年化標準差(三年)','Sharpe(三年)']

In [0]:
df.head()